* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%
}


.app {
  display: flex;
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
}

.app h1 {
  font-variant: small-caps;
}

.boards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1;
  gap: 1rem;
  margin: 0.4rem;
}

.board {
  flex-grow: 1;
}

.line {
  display: flex;
  justify-content: center;
}

.letter {
  display: inline-flex;
  flex: 1 1;
  aspect-ratio: 1/1;
  max-width: 2em;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 1px solid #555;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 500px), (max-height: 800px) {
  .letter {
    font-size: 1.25rem;
  }
}

.letter.correct {
  background-color: #4a813f;
}

.letter.valid {
  background-color: #a7964f;
}

.letter.invalid {
  background-color: #393939;
}

.keyboard .row {
  display: flex;
}

.key {
  display: inline-flex;
  flex: 1 1;
  height: 3em;
  border: none;
  border-radius: 5px;
  margin: 0.2em;
  justify-content: center;
  align-items: center;
  --left-color: #5c5c5c;
  --right-color: #5c5c5c;
  background: linear-gradient(to right, var(--left-color) 50%, var(--right-color) 50%);
  color: #cccccc;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 4px black;
}

.key.special {
  flex-grow: 1.5;
  background: #888;
}

.key.left-correct {
  --left-color: #4a813f;
}

.key.right-correct {
  --right-color: #4a813f;
}

.key.left-valid {
  --left-color: #a7964f;
}

.key.right-valid {
  --right-color: #a7964f;
}

.key.left-invalid {
  --left-color: #393939;
}

.key.right-invalid {
  --right-color: #393939;
}